.App {
  text-align: center;
  height: 100%;
  width: 100%;
}
.About {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 75vh;
}
.About_Devs {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.About_pfp {
  height: 200px;
  width: 200px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#comm {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: red;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: sticky;
  top: 0;
}
#label {
  color: white;
}

.tinted_Video {
  background-color: rgba(10, 4, 4, 0.906);
  background-blend-mode: multiply;
  height: 100vh;
}

.App-header {
  background-color: red;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  border: 2px solid blue;
}

.App-Links {
  padding-left: 30px;
  padding-right: 30px;
}
.CommSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 100vw;
  text-align: center;
  padding: 3px;
}
.App-link {
  color: #61dafb;
}
#search {
  min-width: 80vh;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 180px;
}
.list-video {
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 250px;
}
.video-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .App-header {
    width: 100%;
    border: 2px solid blue;
  }
}
